<script>
    var jsonText = JSON.stringify({
        Name: 'Srikanth'
    });
    alert(jsonText);

    $.ajax({
        type: 'GET',
        url: 'http://localhost:53876/hello',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: jsonText,
        headers: {
            'Access-Control-Allow-Origin': "*"
        },
        xhrFields: {
            withCredentials: false
        },
        success: function () {
            alert('success');
        },
        error: function () {
            alert('failure');
        }
    });

    /*
    $.ajax({
        type: "GET",
        contentType: "application/json",
        dataType: "json",
        url: "http://localhost:53876/hello",
        success: function (data, textStatus, jqXHR) {
            alert(data.Result);
        },
        error: function (xhr, textStatus, errorThrown) {
            var data = $.parseJSON(xhr.responseText);
            if (data === null)
                alert(textStatus + " HttpCode:" + xhr.status);
            else
                alert("ERROR: " + data.ResponseStatus.Message +
                    (data.ResponseStatus.StackTrace ? " \r\n Stack:" + data.ResponseStatus.StackTrace : ""));
        }
    });
    */
</script>